# Runs integration tests.

name: integration

on:
  pull_request:
  merge_group:
  push:
    branches: [main]
  schedule:
    # Run once a day at 3:00 UTC
    - cron: "0 3 * * *"

env:
  CARGO_TERM_COLOR: always
  SEED: rustethereumethereumrust

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    name: test / ${{ matrix.network }}
    if: github.event_name != 'schedule'
    runs-on: ubuntu-latest
    env:
      RUST_BACKTRACE: 1
      GRETH_DISABLE_PIPE_EXECUTION: 1
    strategy:
      matrix:
        network: ["ethereum"]
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v5
      - uses: rui314/setup-mold@v1
      - uses: dtolnay/rust-toolchain@stable
      - name: Install Geth
        run: .github/assets/install_geth.sh
      - uses: taiki-e/install-action@nextest
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - if: matrix.network == 'ethereum'
        name: Run tests
        run: |
          cargo nextest run \
            --locked --features "asm-keccak ${{ matrix.network }} config-from-env" \
            --workspace --exclude ef-tests \
            --exclude reth-pipe-exec-layer-ext-v2 \
            --exclude "example-*" \
            --exclude "reth-optimism-*" \
            -E "kind(test) and not binary(e2e_testsuite)"

  gravity-pipe-test:
    name: gravity pipe test
    if: github.event_name != 'schedule'
    runs-on: ubuntu-latest
    env:
      RUST_BACKTRACE: 1
      RUST_MIN_STACK: 16777216
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - uses: rui314/setup-mold@v1
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - run: cargo test --package reth-pipe-exec-layer-ext-v2 --test gravity_pipe_test -- --exact test --show-output --nocapture

  integration-success:
    name: integration success
    runs-on: ubuntu-latest
    if: always() && github.event_name != 'schedule'
    needs: [test, gravity-pipe-test]
    timeout-minutes: 60
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}

  era-files:
    name: era1 file integration tests once a day
    # if: github.event_name == 'schedule'
    if: false # FIXME: remove this line to enable the era1 file integration tests job after fixing the issues with the test suite.
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: rui314/setup-mold@v1
      - uses: dtolnay/rust-toolchain@stable
      - uses: taiki-e/install-action@nextest
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - name: run era1 files integration tests
        run: cargo nextest run --package reth-era --test it -- --ignored
